.navbar-container{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon-container{
    display: flex;
}
.nav-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#search{
    min-width: 320px;
    height: 35px;
    padding: 5px 15px;
    border: 1px solid gray;
    font-size: 15px;
    background-color: var(--light-gray2);
    border-radius: 5px;
    margin: 0 5px;
}

.nav-btn{
    height: 35px;
    padding: 5px 10px;
    color: var(--theme-button-text);
    background-color: var(--theme-button-background);
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}


.navbar-container #language{
    background: var(--light-gray2);
    color: var(--light-text);
}

.time-container{
    font-size: 11px;
    margin: 5px;
    background-color: var(--light-gray2);
    padding:  2px 5px;
    border-radius: 5px;
}

/* dark mode */

.dark .navbar-container{
    background-color: var(--light-background);
    color: white;
}

.dark #search{
    background-color: var(--light-gray2);
    border: 1px solid gray;
}

.dark .nav-btn.theme{
    background-color: var(--theme-button-background);
    border: none;
    color: var(--theme-button-text);
}

.dark .nav-btn{
    color: var(--theme-button-text);
    background-color: var(--theme-button-background);
}

.dark .nav-options #language{
    background: var(--light-gray2);
    color: var(--light-text);
}

.dark .time-container{
    background-color: var(--light-gray2);
    color: var(--light-gray1);
}