.dashboard-container-1{
    display: flex;
}
.dashboard-container-2{
    width: 100%;
    padding: 20px;
}
.dashboard-container-2.dark{
    background-color:  rgb(163, 163, 163);
}

.table-data, td, th{
    border-collapse: collapse;
    margin: auto;
    border: 1px solid black;
    padding: 5px 15px;
    text-align: center;
}
th{
    background-color: rgb(236, 236, 236);
}

.table-data{
    border-radius: 10px;
    width: 100%;
}
.weather-container{
    border: 1px solid;
    width: 210px;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
}