.org-main{
    display: flex;
}
.org-main.dark{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.org-container-1{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.org-container-2{
    padding: 20px 20px;
    width: 100%;
    flex-direction: column;
}

.table-button{
    padding: 5px 8px;
    margin: 0 5px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.org-main.dark .table-button{
    background-color: white;
    color: black;
}
.create-data-btn{
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
}
.org-main.dark .create-data-btn{
    background-color: white;
    color: black;
}