.org-main{
    display: flex;
}

.org-container-1{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.org-container-2{
    padding: 20px 20px;
    width: 100%;
    flex-direction: column;
}

.table-button{
    padding: 5px 8px;
    margin: 0 5px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.create-data-btn{
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
}